[submodule "dots/vim/bundle/vim-gitgutter"]
	path = dots/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dots/vim/bundle/vim-coffee-script"]
	path = dots/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dots/vim/bundle/vim-less"]
	path = dots/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dots/vim/bundle/scss-syntax.vim"]
	path = dots/vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "dots/vim/bundle/jshint2.vim"]
	path = dots/vim/bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "dots/vim/bundle/go.vim"]
	path = dots/vim/bundle/go.vim
	url = https://github.com/vim-scripts/go.vim.git
[submodule "dots/vim/bundle/scala.vim"]
	path = dots/vim/bundle/scala.vim
	url = https://github.com/vim-scripts/scala.vim.git
[submodule "dots/vim/bundle/vim-jade"]
	path = dots/vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "dots/vim/bundle/vim-elixir"]
	path = dots/vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vendor/scaffold"]
	path = vendor/scaffold
	url = http://github.com/minond/scaffold
[submodule "dots/vim/bundle/loremipsum"]
	path = dots/vim/bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum.git
[submodule "dots/vim/bundle/ctrlp.vim"]
	path = dots/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "dots/vim/bundle/tcomment_vim"]
	path = dots/vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "dots/vim/bundle/nerdtree"]
	path = dots/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dots/vim/bundle/summerfruit256.vim"]
	path = dots/vim/bundle/summerfruit256.vim
	url = https://github.com/vim-scripts/summerfruit256.vim.git
[submodule "dots/vim/bundle/vim-markdown"]
	path = dots/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "dots/vim/bundle/vim-jinja"]
	path = dots/vim/bundle/vim-jinja
	url = https://github.com/minond/vim-jinja.git
[submodule "dots/vim/bundle/vim-jdaddy"]
	path = dots/vim/bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "dots/vim/bundle/yajs.vim"]
	path = dots/vim/bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "dots/vim/bundle/mozjs-syntax"]
	path = dots/vim/bundle/mozjs-syntax
	url = https://github.com/gijsk/mozjs-syntax.git
[submodule "dots/vim/bundle/swift.vim"]
	path = dots/vim/bundle/swift.vim
	url = git@github.com:keith/swift.vim.git
[submodule "dots/vim/bundle/vim-javascript-syntax"]
	path = dots/vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "dots/vim/bundle/vim-arduino-syntax.git"]
	path = dots/vim/bundle/vim-arduino-syntax.git
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule "dots/vim/bundle/vim-arduino-ino"]
	path = dots/vim/bundle/vim-arduino-ino
	url = https://github.com/jplaut/vim-arduino-ino.git
[submodule "dots/vim/bundle/typescript-vim"]
	path = dots/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
