snippet defmodule "defmodule" !b
	defmodule ${1} do
		${2}
	end
snippet def "def" !b
	def ${1} do
		${2}
	end
snippet receive "receive" !b
	receive do
		${1}
	end
snippet do "do/end" !b
	do
		${1}
	end
snippet { "match" !b
	{${1}} -> ${2}
snippet puts "IO.puts" !b
	IO.puts("${1}")
