snippet main "main method class" br
	public class ${1} {
		public static void main(String[] args) {
			${2}
		}
	}
snippet println "print statement" br
	System.out.println("${1}")
snippet for "for statement" !b
	for (int i = 0, len = $1; i < len; i++) {
		$2
	}
