snippet function "function" !b
	function ${1} (${2})
		${3}
	end
snippet func "function" !b
	function ${1} (${2})
		${3}
	end
snippet ipairs "ipairs for loop" !b
	for i, val in ipairs(${1}) do
		${2}
	end
